*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
body{
font-family: 'Indie Flower',sans-serif;
}
.wrapper{
max-width: 900px;
margin: 0px auto;
}
header{
}
header>.wrapper{
display:flex;
aling-items: center;
}
header > .wrapper ul.nav{
flex:1;
text-align: right;
}
header > .wrapper ul.nav a{
text-decoration: none;
color: #444;
}
header> .wrapper ul.nav li{font-size: 23px;
display: inline-block;
list-style: none;
padding: 10px 20px;
font-family:'Staatliches';
}
header span.logo{
font-size: 54px;
padding: 10px 20px;
}
main{
}
main>.wrapper{
min-height: 95vh;
display: flex;
align-items: center;
}
main>.wrapper .left{
flex:3;
}
main >.wrapper .left h1{font-size: 70px;font-weight:normal; margin-top: 0px;}
main >.wrapper .left h2{font-size: 50px;font-weight:normal;}
main >.wrapper .left h3{font-size: 30px;font-weight:normal;}
main >.wrapper .left h4{font-size: 40px;font-weight:normal;}
main>.wrapper .left h1;
main>.wrapper .left h2;
main>.wrapper .left h3;
main>.wrapper .left h4{
line-height:1.7;
}
main>.wrapper .left button{
padding: 20px 24px;
border:2px solid #3498db;
margin-top: 20px;
background: transparent;
font-weight: bold;
color: #3498db;
position: relative;
left: -15px;
cursor: pointer;
}
main > .wrapper .right img{
width: 70%;
transform: scale(.9)
}
main > .wrapper .right{
flex 1;
}
main.project>.wrapper .project_intro p{
font-size: 18px;
line-height:1.6;
margin-bottom: 40px;
}
main.project{
background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
main.project .wrapper{
min-height:auto;
}
main.project .wrapper .project_intro{
padding: 40px 0px;
}
main.project .wrapper .project_intro p{
font-size: 18px;
line-height: 1.6;
margin-top: 30px;
}
.project_row .wrapper{
flex-direction: row;
}
.project_row{
background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}
.project_row .wrapper .row{
display: flex;

}
.project_row .wrapper .row a{
flex: 1;
margin:6px;
color: white;
border-style:double;
border-width:10px;
border-color:#E3E2DF;
}
.project_row .wrapper .row a .project{
display:flex;
justify-content:flex-end;
align-items:flex-end;
min-height:400px;
flex-direction:column;
padding-bottom:7px;
}
.project_row .wrapper .row a .project h2{
background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);

}
.project_row .wrapper .row a .project.weatherapp:hover{
background: url("./../image/project/weather.PNG");
background-size:10% !important;
transform:scale(1.1);
}
.project_row .wrapper .row a .project.snake:hover{
background: url("./../image/project/snake2.PNG");
background-size:150% !important;
transform:scale(1.1);
}
.project_row .wrapper .row a .project.fastfood:hover{
background: url("./../image/project/fastfood2.PNG");
background-size:150% !important;
transform:scale(1.1);
}
.project_row .wrapper .row a .project.weatherapp{
background: url("./../image/project/weather.PNG");
background-size:cover;
}
.project_row .wrapper .row a .project.snake{
background: url("./../image/project/snake.PNG");
background-size:120%;
}
.project_row .wrapper .row a .project.fastfood{
background: url("./../image/project/fastfood.PNG") ;
background-size:190%;
}

